<form class="splunk-formatter-section" section-label="format">
    <splunk-control-group label="Optimize Milestones">
        <splunk-radio-input name="{{VIZ_NAMESPACE}}.optimize" value="true">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </splunk-radio-input>
    </splunk-control-group>
    <splunk-control-group label="Orientation">
        <splunk-radio-input name="{{VIZ_NAMESPACE}}.orientation" value="top-bottom">
            <option value="top">Top</option>
            <option value="top-bottom">Top-Bottom</option>
            <option value="bottom">Bottom</option>
        </splunk-radio-input>
    </splunk-control-group>
    <splunk-control-group label="Time Aggregation">
        <splunk-select name="{{VIZ_NAMESPACE}}.aggregateBy" value="minute">
            <option value="second">Second</option>
            <option value="minute">Minute</option>
            <option value="hour">Hour</option>
            <option value="day">Day</option>
            <option value="week">Week</option>
            <option value="month">Month</option>
            <option value="quarter">Quarter</option>
            <option value="year">Year</option>
        </splunk-select>
    </splunk-control-group>
</form>