.splunk-milestone {
    width: 95% !important;
    height: 50% !important;
    margin: 10px;
}

.milestones__category_label {
  display: inline-block;
  text-align: right;
  font-size: 14px;
  margin-top: -4px;
  float: left;
}
.milestones__horizontal_line {
  position: absolute;
  background-color: #1baade;
  height: 3px;
  margin-top: 4px;
  margin-left: 5.5px;
  border-radius: 1.5px;
}
.milestones__group {
  position: absolute;
  font-family: sans-serif;
  font-size: 10px;
}
.milestones__group__bullet {
  background-color: #fff;
  border: 3px solid #006eaa;
  border-radius: 50%;
  width: 0px;
  height: 0px;
  padding: 2.5px;
}
.milestones__group__label {
  position: absolute;
  border-left: 1px solid #006eaa;
  margin-left: 5px;
  padding: 0;
  color: #666;
}
.milestones__group__label div {
  position: relative;
  margin-left: 3px;
}
.milestones__group__label-above {
  bottom: 100%;
}
.milestones__group__label-last {
  right: 100%;
  border-left: 0;
  border-right: 1px solid #006eaa;
  margin-left: 0;
  margin-right: -6px;
  text-align: right;
}
.milestones__group__label-last div {
  margin-left: 0px;
  margin-right: 3px;
}
.milestones__group__label__text__title {
  color: #006eaa;
  font-weight: bold;
  font-size: 11px;
  white-space: nowrap;
}
.milestones__group__label__text__event {
  cursor: pointer;
}
.milestones__group__label__text__event--hover {
  background: #efefef;
  color: #313131;
}